html {
    width: 600px;
    background-color: #010326;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #eaf205;
}

input,
button {
    display: block;
    border-radius: 15px 15px 15px 15px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    font-size: 30px;
}

#resultado {
    background-color: #02765e;
    border-radius: 15px 15px 15px 15px;
    padding: 50px;
    width: 400px;
    margin: 10px 15px 10px 490px;
}


/*#p {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}*/

article {
    margin-left: 100px;
}

p {
    margin: 200px auto 15px 100px;
}

input {
    background-color: #02765e;
    color: #eaf205;
}

#a {
    margin-left: 100px;
}

#b {
    margin-left: 100px;
}

#c {
    margin-left: 100px;
}

.button {
    margin-left: 100px;
    background-color: #02765e;
    color: #eaf205;
    width: 150px;
    font-size: 30px;
}